<!DOCTYPE html>
<html> 
<head> 
   <meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
  <title>SafeCampus - Search for safest path between two places</title>
  <link rel="stylesheet" href="/static/docsupport/style.css">
  <link rel="stylesheet" href="/static/docsupport/prism.css">
  <link rel="stylesheet" href="/static/chosen.css" />
  <style type="text/css" media="all">
    /* fix rtl for demo */
    .chosen-rtl .chosen-drop { left: -9000px; }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js" type="text/javascript"></script>
  <script src="/static/chosen.proto.js" type="text/javascript"></script>
  <script src="/static/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
  document.observe('dom:loaded', function(evt) {
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text: "Oops, nothing found!"},
      '.chosen-select-width'     : {width: "95%"}
    }
    var results = [];
    for (var selector in config) {
      var elements = $$(selector);
      for (var i = 0; i < elements.length; i++) {
        results.push(new Chosen(elements[i],config[selector]));
      }
    }
    return results;
  });
  </script>
  <script>
$('submit').observe('click', respondToClick);
 function respondToClick(event) {
  alert("Yes");
}
  </script>
</head> 
<body> 
    <center>
    <form name="showroute" action="showroute/" method="post">{% csrf_token %}
        <table border="0">
            <tr>
                <td colspan="2"><center><a href="/"><img src="/static/logo.png"/></a></center><td>
            </tr>
            <tr>
                <td width="100">From:</td>
                <td>
                    {% if node_result %}
                    <select class="chosen-select" style="width:350px;" name="from">
                        {% for node in node_result %}
                            <option value="{{ node.id }}" >{{ node.comment }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;<td>
            </tr>
            <tr>
                <td>To:</td>
                <td>
                    {% if node_result %}
                        <select class="chosen-select" style="width:350px;" name="to">
                            {% for node in node_result %}
                                <option value="{{ node.id }}">{{ node.comment }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;<td>
            </tr>
            <tr>
                <td colspan="2"><center><input type='submit' value="Find Route" /></center></td>
            </tr>
        </table>
    </form>
    </center>
</body> 
</html>
