<!DOCTYPE html>
<html> 
<head> 
   <meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
   <title>Safe Campus - Result</title> 
   <script type="text/javascript" 
           src="http://maps.google.com/maps/api/js?sensor=false">
   </script>
   <style>
    table {
        border-spacing:2px
        border-collapse:collapse;
    }
    body {
        font-family: Verdana,Arial;
        color:#444;
    }
    td {
        padding: 6px;background:#ececec;
    }
    th {
        padding: 6px;background:#aab0ff;
    }
    a, u {
        text-decoration: none;
        color: #F36C00;
    }
</style>
</head>
<body>
   <center><a href="/"><img src="/static/logo.png"/></a></center>
   <center>
   <div id="map" style="width: 800px; height: 600px;"></div>
   </center>
   <center>
    <p><h2>Walking Directions</h2></p>
    <table>
        <tr>
            <th width="100" align="center">Section</th><th width="300" align="center">From</th><th width="300" align="center">To</th><th>Distance</th><th>Time Taken</th>
        </tr>
        {% for key, entry in path.items %}
        <tr>
            <td id="section{{key}}"  align="center">{{key}}</td>
            <td align="center"> {{entry.start.comment}} </td>
            <td align="center"> {{entry.end.comment}} </td>
            <td id="dist{{key}}" align="center"/>
            <td id="time{{key}}" align="center"/>
        </tr>
        {% endfor %}
    </table>
    <p><h2><a href="/">Start a New Search</a><h2></p>
   </center>

   <script type="text/javascript">

   // This is the minimum zoom level that we'll allow
   var minZoomLevel = 16;

   var map = new google.maps.Map(document.getElementById('map'), {
      zoom: minZoomLevel,
      center: new google.maps.LatLng(33.4183, -111.93309),
      mapTypeId: google.maps.MapTypeId.ROADMAP
   });
   {% if flattened_route %};
   {% autoescape off %}
   route_data = {{ path_dump }};
   flattened_route = {{ flattened_route }};
   route_name = {{ route_name }};
   {% endautoescape %}
   {% endif %}

   // Bounds for North America
   var strictBounds = new google.maps.LatLngBounds(
     new google.maps.LatLng(33.421916, -111.93995), 
     new google.maps.LatLng(33.41475, -111.92623)
   );

    var flightPlanCoordinates = [];
    {% if flattened_route %};
        {% for entry in flattened_route %}
            flightPlanCoordinates.push(new google.maps.LatLng( {{entry.1}} , {{entry.2}} )); // {{entry.0}}
        {% endfor %}
    {% endif %}

  	var flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#2c2cff',
    strokeOpacity: 1.0,
    strokeWeight: 3
  	});

  	flightPath.setMap(map);
  	
  	origins = [];
  	dest = [];
  	{% for key, entry in path.items %}
  	origins.push(new google.maps.LatLng({{entry.start.xx}}, {{entry.start.yy}}));
  	dest.push(new google.maps.LatLng({{entry.end.xx}}, {{entry.end.yy}}));
  	{% endfor %}
  	
  	var service = new google.maps.DistanceMatrixService();
    service.getDistanceMatrix(
    {
        origins: origins,
        destinations: dest,
        travelMode: google.maps.TravelMode.WALKING,
        unitSystem: google.maps.UnitSystem.METRIC,
        avoidHighways: false,
        avoidTolls: false
    }, callback);

    function callback(response, status) {
        var origins = response.originAddresses;
        var destinations = response.destinationAddresses;
        
        for (var i = 0; i < origins.length; i++) {
            var results = response.rows[i].elements;
            for (var j = 0; j < results.length; j++) {
                var element = results[j];
                if(i==j)
                {
                    var timeTd = document.getElementById('time'+(i+1));
                    var distTd = document.getElementById('dist'+(i+1));
                    timeTd.innerHTML = element.duration.text;
                    distTd.innerHTML = element.distance.text;
                    var distance = element.distance.text;
                    var duration = element.duration.text;
                }
            }
        }
    }
  	
  	
  	{% for entry in flattened_route %}
  	    {% if forloop.first %}
  	var startLat = new google.maps.LatLng({{entry.1}},{{entry.2}});
  	    {% endif %}
  	    {% if forloop.last %}
  	var endLat = new google.maps.LatLng({{entry.1}},{{entry.2}});
  	    {% endif %}
  	{% endfor %}
  	
  	var image = {url: 'https://developers.google.com/maps/documentation/javascript/examples/images/beachflag.png',
        size: new google.maps.Size(20, 32),
        origin: new google.maps.Point(0,0),
        anchor: new google.maps.Point(0, 32)};
  	var startMarker = new google.maps.Marker({
        position: startLat,
        title:"Start",
        draggable:false,
        animation: google.maps.Animation.DROP,
    });
    var endMarker = new google.maps.Marker({
        position: endLat,
        title:"Destination",
        draggable:false,
        animation: google.maps.Animation.DROP,
        icon: {
            path: google.maps.SymbolPath.CIRCLE,
            scale: 5
        },
    });
    startMarker.setMap(map);
    endMarker.setMap(map);
  	
   // Limit the zoom level
   //google.maps.event.addListener(map, 'zoom_changed', function() {
   //  if (map.getZoom() < minZoomLevel) map.setZoom(minZoomLevel);
   //});

   </script> 
</body> 
</html>
